extends layout 

block content
    h1 Tabular View
    
    block tableHeader

    table.table.table-striped
        thead
            tr
                th #id
                each header in headers 
                    th= header
                th(colspan=1) Actions
        tbody
            each value, index in values
                tr
                    td= index+1
                    each header in headers 
                        td= value[header]
                    td
                        form.d-inline(action="#Update", method="get") 
                            button.btn.btn-primary(type="submit") Update
                        form.d-inline(action="#Delete", method="get") 
                            button.btn.btn-danger(type="submit") Delete
